{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>روابط عمومی خانه ملت کاشان </title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'customers/css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/customStyles.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'customers/css/feather.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'customers/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/select2.css'%}">
    {% comment %} <link rel="stylesheet" href="{% static 'customers/css/dropzone.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'customers/css/uppy.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'customers/css/jquery.steps.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'customers/js/dist/css/formValidation.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'customers/css/quill.snow.css' %}"> {% endcomment %}
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'customers/css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'customers/css/app-light.css' %}" id="lightTheme">
</head>