<div class="row">
    <div class="com-md-12">
        <form action="{% url 'customer-create' %}" method="post" autocomplete="off" id="customer-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                <label class="col-form-label col-lg-3 col-sm-12">{{ field.label_tag }}</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-light-success font-weight-bold">ثبت نام</button>
        </form>
    </div>
</div>