{% extends 'base.html' %}
{% load static %}\


{% block content %}
{% include "base/navigator.html" %}
{% include "base/aside.html" %}
{% block title %}لیست درخواست دهنده ها{% endblock%}

  <main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="mb-2 page-title">لیست درخواست دهنده ها</h2>
          <p class="card-text">لورم ایپسوم لورم ایپسوم لورم ایپسوم لورم ایپسوم توضیحات لیست لورم ایپسوم</p>
          <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
              <div class="card shadow">
                <div class="card-body">
                  <!-- table -->
                  <table id="example" class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                            <th>شماره درخواست</th>
                            <th>عنوان درخواست</th>
                            <th>تاریخ</th>
                            <th>درخواست دهنده</th>
                            <th>توضیحات</th>
                            <th>وضعیت</th>
                            <th>نتیجه</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>شماره درخواست</th>
                            <th>عنوان درخواست</th>
                            <th>تاریخ</th>
                            <th>درخواست دهنده</th>
                            <th>توضیحات</th>
                            <th>وضعیت</th>
                            <th>نتیجه</th>
                        </tr>
                    </tfoot>
                </table>

                </div>
              </div>
            </div> <!-- simple table -->
          </div> <!-- end section -->
        </div> <!-- .col-12 -->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
  </main>
{% endblock %}
{% block moreScript %}
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            ajax: {
                url: '/requestions/request/',
                dataSrc: 'data',
            },
            columns: [
                { data: "number" },
                { data: "title" },
                { data: "register_date" },
                { data: "customer_name" },
                { data: "description" },
                { data: "status_d" },
                { data: "result_d" },
            ],
        });
    });
  </script>
{% endblock  %}