<table class="table table-sm">
    <tbody>
      <tr>
        <td scope="row">نام و نام خانوادگی</td>
        <th>{{ object.fullname }}</th>
      </tr>
      <tr>
        <td scope="row">تلفن همراه</td>
        <th>{{ object.phoneNumber }}</th>
      </tr>
      <tr>
        <td scope="row">کد ملی</td>
        <th>{{ object.codeMeli }}</th>
      </tr>
      <tr>
        <td scope="row">جنسیت</td>
        <th>{{ object.sex_display }}</th>
      </tr>
      <tr>
        <td scope="row">تلفن ثابت</td>
        <th>{{ object.phonee }}</th>
      </tr>
      <tr>
        <td scope="row">آدرس</td>
        <th>{{ object.address }}</th>
      </tr>
      <tr>
        <td scope="row">تاریخ ثبت</td>
        <th>{{ object.jd_register_date }}</th>
      </tr>
      <tr>
        <td scope="row">سازمان</td>
        <th>{{ object.organ_name }}</th>
      </tr>
    </tbody>
  </table>