{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% include 'base/navigator.html' %}
  {% include 'base/aside.html' %}
 
   


  <main role="main" class="main-content">

    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        {% endfor %}
        {% endif %}
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="mb-2 page-title">لیست درخواست دهنده ها</h2>
          <p class="card-text">لیست افراد و سازمان های درخواست دهنده</p>
          <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
              <div class="card shadow">
                <div class="card-body">
                  <!-- table -->
                  <table id="dataTable-1" class="table datatables" style="width:100%">
                    <thead>
                      <tr>
                        <th>شماره تلفن همراه</th>
                        <th>نام و نام خانوادگی</th>
                        <th>سازمان</th>
                        <th>کد ملی</th>
                        <th>جنسیت</th>
                        <th>تلفن ثابت</th>
                        <th>تاریخ ثبت</th>
                        <th>عملیات</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in customers %}
                        <tr>
                          <td>{{ customer.phoneNumber }}</td>
                          <td>{{ customer.fullname }}</td>
                          <td>{{ customer.organ_name }}</td>
                          <td>{{ customer.codeMeli }}</td>
                          <td>{{ customer.get_sex_display }}</td>
                          <td>{{ customer.phonee }}</td>
                          <td>{{ customer.jd_register_date }}</td>
                          <td><button type="button" class="btn btn-primary btn-sm" onclick="update_user('{{ customer.phoneNumber }}');" data-toggle="modal"
                            data-target="#registeruser">ویرایش</button></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                <nav aria-label="">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">قبلی</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">صفحه قبل</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(صفحه فعلی)</span></a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">صفحه بعد</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">صفحه بعد</a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>

                </div>
              </div>
            </div>
          </div> <!-- simple table -->
        </div> <!-- end section -->
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </main>



{% include 'base/updateModal.html' %}
{% endblock %}

{% block moreScript %}
<script src="{% static 'customers/js/datatablescripts.js'%}"></script>
<script>
function update_user(id) {
    $.ajax({
        url: '/customers/update/' + id + '/',
        type: 'GET',
        success: function (data) {
            $("#modal_body").html(data);
        }
    })
}
</script>
{% endblock moreScript %}
