{% extends 'base.html' %}

{% block content %}

<body class="light rtl">
    <div class="wrapper vh-100">
      <div class="row align-items-center h-100">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center">
          <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
            <img src="/assets/images/logo.png" alt="", class="img-fluid" />
          </a>
          <h1 class="h6 mb-3">ورود به سامانه</h1>
          <div class="form-group">
            <label for="inputUsername" class="sr-only">نام کاربری</label>
            <input type="text" id="inputUsername" class="form-control form-control-lg" placeholder="شماره تلفن همراه" required="" autofocus="">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">رمز عبور</label>
            <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="رمز عبور" required="">
          </div>
          {% comment %} <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Stay logged in </label>
          </div> {% endcomment %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">ورود به پنل کاربری</button>
          <p class="mt-5 mb-3 text-muted">© 1401</p>
        </form>
      </div>
    </div>


{% endblock %}
