{% extends "base.html" %}
{% block content %}
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-3 col-md-4 col-10 mx-auto text-center">
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                    <img src="/assets/images/logo.png" alt="", class="img-fluid">
                </a>
                <br>
                <h1>به زودی ....</h1>
                <h3>این بخش درحال توسعه می باشد و به زودی راه اندازی خواهد شد</h3>
                <p>روابط عمومی خانه ملت کاشان</p>
                <p class="mt-5 mb-3 text-muted">© 1401</p>
            </div>
        </div>
    {% endblock content %}
