{% extends "base.html" %}
{% load static %}
{% comment %} {{ form.media.css }} {% endcomment %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">ثبت نامه</h2>
                    <p class="card-text">لیست نامه های خانه ملت</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <button type="button"
                                            class="btn btn-info btn-sm"
                                            onclick="modal_url('/letters/organ/create/{{ request_id }}', 'create');"
                                            data-toggle="modal"
                                            data-target="#create_modal">
                                        افزودن گیرندگان (سازمان-نهاد)
                                    </button>
                                <div class="card-body">
                                    
                                    <div class="col-md-6">
                                        <form class="needs-validation"
                                              {% comment %} action="{% url 'letter-create' request_id %}" {% endcomment %}
                                              action="{% url 'letter-rcreate' %}"
                                              method="post"
                                              autocomplete="off"
                                              id="customer-form"
                                              enctype="multipart/form-data"
                                              novalidate>
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class="form-group row">
                                                    <label class="col-form-label col-lg-3 col-sm-12">{{ field.label_tag }}</label>
                                                    <div class="col-lg-9 col-md-9 col-sm-12">
                                                        {{ field }}
                                                        <div class="invalid-feedback">مقدار مناسب را وارد کنید.</div>
                                                        {% for error in field.errors %}<div class="feedbackinvalid">{{ error|escape }}</div>{% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <button type="submit" class="btn btn-success">ایجاد نامه</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
{% include 'base/createModal.html' %}
{% endblock content %}
{% block moreScript %}
    <script>
    kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});
    function modal_url(url, type) {
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $("#"+ type +"_modal_body").html(data);
            }
        })
    }
    </script>
    <script>
        {{ form.media.js }}
    </script>
{% endblock moreScript %}
