{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">لیست درخواست ها</h2>
                    <p class="card-text">لیست درخواست های ارباب رجوع و نهاد ها</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="accordion accordion-boxed" id="accordion2">
                                <div class="card shadow">
                                    <div class="card-header" id="headingOne">
                                        <a role="button"
                                           href="#collapseOne"
                                           data-toggle="collapse"
                                           data-target="#collapseOne"
                                           aria-expanded="false"
                                           aria-controls="collapseOne"
                                           class="collapsed">
                                            <strong>مرتب سازی و جستجو پیشرفته</strong>
                                        </a>
                                    </div>
                                    <div class="collapse show"
                                         aria-labelledby="headingOne"
                                         data-parent="#accordion2"
                                         id="collapseOne">
                                        <div class="card-body">
                                            <div class="toolbar row mb-3">
                                                <div class="col">
                                                    <form class="form-inline" action="" method="get">
                                                        <div class="form-row">
                                                            <div class="form-group col-auto">
                                                                <label for="search">جستجو :</label>
                                                                <input type="text"
                                                                       class="form-control ml-2"
                                                                       id="search"
                                                                       name="q"
                                                                       placeholder="مقدار مورد نظر را وارد کنید "
                                                                       value="{{ request.GET.q }}"/>
                                                                <label for="searchOption" class="ml-2">جستجو براساس :</label>
                                                                <select class="form-control my-1 mr-sm-2 ml-2"
                                                                        id="searchOption"
                                                                        name="option">
                                                                    <option value="letter_number"
                                                                            {% if request.GET.option == "letter_number" %}selected{% endif %}>
                                                                        شماره نامه
                                                                    </option>
                                                                    <option value="title"
                                                                            {% if request.GET.option == "title" %}selected{% endif %}>
                                                                        عنوان نامه
                                                                    </option>
                                                                    <option value="request__customer__fullname"
                                                                            {% if request.GET.option == "request__customer__fullname" %}selected{% endif %}>
                                                                        نام خانوادگی درخواست دهنده
                                                                    </option>
                                                                </select>
                                                                <label for="searchOption" class="ml-2">وضعیت نامه :</label>
                                                                <select class="form-control my-1 mr-sm-2 ml-2"
                                                                        id="searchOption"
                                                                        name="status">
                                                                    <option value="0">
                                                                        همه
                                                                    </option>
                                                                    <option value="1">
                                                                        در انتظار ارسال
                                                                    </option>
                                                                    <option value="2">
                                                                        ارسال به دبیرخانه
                                                                    </option>
                                                                    <option value="3">
                                                                        ارسال شده                                                                  </option>
                                                                    <option value="4">
                                                                        درحال بررسی
                                                                    </option>
                                                                    <option value="5">
                                                                        خاتمه یافته
                                                                    </option>
                                                                </select>
                                                                <button type="submit" class="btn mb-2 btn-warning">
                                                                    <span class="fe fe-search fe-14 mr-1"></span>جستجو
                                                                </button>
                                                                <a href="{% url 'letter-list' %}" class="btn mb-2 btn-info ml-2">نمایش همه نامه ها</a>
                                                                <a href="{% url 'letter-create' %}" class="btn mb-2 btn-success ml-2">+ایجاد نامه </a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                {% comment %} <div class="col ml-auto">
                                                    <a href="{% url 'request-create' %}" class="btn btn-success float-right ml-3" type="button">اضافه کردن +</a>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="card">
                                <div class="card-body">
                                    {% if letters %}
                                        <div class="table-responsive">
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">شماره نامه</th>
                                                        <th scope="col">عنوان نامه</th>
                                                        <th scope="col">درخواست دهنده</th>
                                                        <th scope="col">گیرنده</th>
                                                        <th scope="col">وضعیت</th>
                                                        <th scope="col">تاریخ</th>
                                                        <th scope="col">عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for letter in letters %}
                                                        <tr>
                                                            <th scope="row">{{ letter.letter_number }}</th>
                                                            <td>{{ letter.title }}</td>
                                                            <td>{{ letter.request.customer }}</td>                                                            <td>{{ letter.recepiant }}</td>
                                                            <td>
                                                                {% if letter.status == '1' %}
                                                                    {% comment %} <span class="btn-sm btn-primary">ایجاد شده</span> {% endcomment %}
                                                                    <span class="small text-muted">در انتظار ارسال</span>
                                                                    <div class="progress mt-2" style="height: 3px;">
                                                                        <div class="progress-bar bg-primary"
                                                                             role="progressbar"
                                                                             style="width: 10%"
                                                                             aria-valuenow="10"
                                                                             aria-valuemin="0"
                                                                             aria-valuemax="100">
                                                                        </div>
                                                                    </div>
                                                                {% elif letter.status == '2' %}
                                                                    {% comment %} <span class="btn-sm btn-warning">درحال پیگیری در خانه ملت</span> {% endcomment %}
                                                                    <span class="small text-muted">ارسال به دبیرخانه</span>
                                                                    <div class="progress mt-2" style="height: 3px;">
                                                                        <div class="progress-bar bg-warning"
                                                                             role="progressbar"
                                                                             style="width: 30%"
                                                                             aria-valuenow="30"
                                                                             aria-valuemin="0"
                                                                             aria-valuemax="100">
                                                                        </div>
                                                                    </div>
                                                                {% elif letter.status == '3' %}
                                                                    <span class="small text-muted">ارسال شده</span>
                                                                    <div class="progress mt-2" style="height: 3px;">
                                                                        <div class="progress-bar bg-info"
                                                                             role="progressbar"
                                                                             style="width: 50%"
                                                                             aria-valuenow="50"
                                                                             aria-valuemin="0"
                                                                             aria-valuemax="100">
                                                                        </div>
                                                                    </div>
                                                                {% elif letter.status == '4' %}
                                                                    <span class="small text-muted">درحال بررسی</span>
                                                                    <div class="progress mt-2" style="height: 3px;">
                                                                        <div class="progress-bar bg-success"
                                                                             role="progressbar"
                                                                             style="width: 70%"
                                                                             aria-valuenow="70"
                                                                             aria-valuemin="0"
                                                                             aria-valuemax="100">
                                                                        </div>
                                                                    </div>
                                                                {% elif letter.status == '5' %}
                                                                    {% comment %} <span class="btn-warning btn-sm">در انتظار درخواست دهنده</span> {% endcomment %}
                                                                    <span class="small text-muted">خاتمه یافته</span>
                                                                    <div class="progress mt-2" style="height: 3px;">
                                                                        <div class="progress-bar bg-info"
                                                                             role="progressbar"
                                                                             style="width: 90%"
                                                                             aria-valuenow="90"
                                                                             aria-valuemin="0"
                                                                             aria-valuemax="100">
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    نامشخص
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ letter.register_date|jformat:"%Y/%m/%d" }}
                                                            </td>
                                                            <td>
                                                                <button type="button"
                                                                        class="btn btn-warning btn-sm"
                                                                        onclick="modal_url('/requestions/update/{{ request.id }}', 'update');"
                                                                        data-toggle="modal"
                                                                        data-target="#update_modal">
                                                                    ویرایش
                                                                </button>
                                                                {% comment %} <button type="button" class="btn btn-info btn-sm" onclick="modal_url('/requestions/detail/{{ request.id }}', 'detail');" data-toggle="modal" data-target="#detail_modal">
                                                                    مشاهده
                                                                </button> {% endcomment %}
                                                                <a href="{% url 'letter-detail' letter.id %}"
                                                                   class="btn btn-info btn-sm">مشاهده نامه</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            هیچ نتیجه ای در جستجو یافت نشد! مجددا تلاش کنید.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <nav aria-label="">
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.previous_page_number }}"
                                                           tabindex="-1">قبلی</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="">صفحه قبل</a>
                                                    </li>
                                                {% endif %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(صفحه فعلی)</span></a>
                                                </li>
                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">صفحه بعد</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="">صفحه بعد</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
    {% include 'base/updateModal.html' %}
    {% include 'base/detailModal.html' %}
{% endblock content %}
{% block moreScript %}
    {% comment %} <script src="{% static 'customers/js/datatablescripts.js'%}"></script> {% endcomment %}
    <script src="{% static 'customers/plugins/jalaliDatepicker/kamadatepicker.min.js'%}"></script>
    <script>kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});</script>
    <script>
function modal_url(url, type) {
    $.ajax({
        url: url,
        type: 'GET',
        success: function (data) {
            $("#"+ type +"_modal_body").html(data);
        }
    })
}
    </script>
{% endblock moreScript %}
