{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">لیست درخواست دهنده ها</h2>
                    <p class="card-text">لیست افراد و سازمان های درخواست دهنده</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="col-md-6">
                                        <form class="needs-validation"
                                              action="{% url 'request-create' customer_id %}"
                                              method="post"
                                              autocomplete="off"
                                              id="customer-form"
                                              novalidate>
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class="form-group row">
                                                    <label class="col-form-label col-lg-3 col-sm-12">{{ field.label_tag }}</label>
                                                    <div class="col-lg-9 col-md-9 col-sm-12">
                                                        {{ field }}
                                                        <div class="invalid-feedback">مقدار مناسب را وارد کنید.</div>
                                                        {% for error in field.errors %}<div class="feedbackinvalid">{{ error|escape }}</div>{% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <button type="submit" class="btn btn-success">ثبت نام</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
{% endblock content %}
{% block moreScript %}
    <script>
    kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});

    $('#id_customer').select2({
        ajax: {
          url: 'https://api.github.com/search/repositories',
          dataType: 'json'
        }
      });   


    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock moreScript %}
