{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include "base/navigator.html" %}
{% include "base/aside.html" %}

  <main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="mb-2 page-title">لیست درخواست دهنده ها</h2>
          <p class="card-text">لورم ایپسوم لورم ایپسوم لورم ایپسوم لورم ایپسوم توضیحات لیست لورم ایپسوم</p>
          <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
              <div class="card shadow">
                <div class="card-body">
                  <!-- table -->
                  <table id="example" class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                            <th>شماره درخواست</th>
                            <th>عنوان درخواست</th>
                            <th>تاریخ</th>
                            <th>درخواست دهنده</th>
                            <th>وضعیت</th>
                            <th>نتیجه</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                 
                </table>

                </div>
              </div>
            </div> <!-- simple table -->
          </div> <!-- end section -->
        </div> <!-- .col-12 -->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
  </main>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
{% block moreScript %}
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            ajax: {
                url: '/requests/request/',
                dataSrc: 'data',
            },
            columnDefs: [
                {
                    targets: -1,
                    data: null,
                    {% comment %} defaultContent: '<button class="btn btn-info btn-xs" type="button">جزییات</button> <button class="btn btn-warning btn-xs" type="button">ویرایش</button>', {% endcomment %}
                    defaultContent: '<button class="btn btn-info btn-xs" type="button">جزییات</button> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">ویرایش</button>',
                },
            ],
            columns: [
                { data: "number" },
                { data: "title" },
                { data: "jd_register_date" },
                { data: "customer_name" },
                { data: "status_d" },
                { data: "result_d" },
                { data: "" },
            ],
            
        });

    $('#example tbody').on('click', '.btn-info', function () {
        var data = table.row($(this).parents('tr:first')).data();
        window.open('/requests/request/'+ data['number']);
    });
    
    });
  </script>
{% endblock  %}