{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">درخواست شماره {{ object.number }}</h2>
                    <p class="card-text">
                        درخواست دهنده:  {{ object.customer }}
                        | عنوان درخواست:  {{ object.title }}
                    </p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-xl-6">
                            <div class="card shadow mb-3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <h4>اطلاعات درخواست</h4>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td scope="row">درخواست دهنده</td>
                                                    <th>{{ object.customer }}</th>
                                                    <th>
                                                        <a type="button"
                                                           class="btn btn-info btn-sm"
                                                           onclick="modal_url('/customers/detail/{{ object.customer.id }}', 'detail');"
                                                           data-toggle="modal"
                                                           data-target="#detail_modal">مشاهده اطلاعات</a>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">شماره درخواست</td>
                                                    <th>{{ object.number }}</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">عنوان درخواست</td>
                                                    <th>{{ object.title }}</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">متن درخواست</td>
                                                    <th>{{ object.description|truncatechars:'50' }}</th>
                                                    <th>
                                                        <a type="button"
                                                           class="btn btn-info btn-sm"
                                                           data-toggle="modal"
                                                           data-target="#description_modal">مشاهده متن کامل</a>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">تاریخ ثبت درخواست</td>
                                                    <th>{{ object.jd_register_date }}</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">وضعیت درخواست</td>
                                                    <th>{{ object.get_status_display }}</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">نتیجه</td>
                                                    <th>{{ object.get_result_display }}</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">دسته بندی</td>
                                                    <th>{{ object.category }}</th>
                                                    <th></th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card shadow">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4>
                                                پیوست ها
                                            </h4>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-success btn-sm" href="#">ایجاد نامه +</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                            <div class="card shadow mt-3">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4>
                                               نامه ها
                                            </h4>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-success btn-sm" href="{% url 'letter-create' object.pk %}">ایجاد نامه +</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th>شماره نامه</th>
                                                <th>تاریخ ارسال</th>
                                                <th>گیرنده</th>
                                                <th>وضعیت</th>
                                                <th>عملیات</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>3224</td>
                                                <td>Keith Baird</td>
                                                <td>Enim Limited</td>
                                                <td><span class="badge badge-pill badge-warning">Hold</span></td>
                                                <td>Apr 24, 2019</td>
                                              </tr>
                                              <tr>
                                                <td>3218</td>
                                                <td>Graham Price</td>
                                                <td>Nunc Lectus Incorporated</td>
                                                <td><span class="badge badge-pill badge-success">Success</span></td>
                                                <td>May 23, 2020</td>
                                              </tr>
                                              <tr>
                                                <td>2651</td>
                                                <td>Reuben Orr</td>
                                                <td>Nisi Aenean Eget Limited</td>
                                                <td><span class="badge badge-pill badge-warning">Hold</span></td>
                                                <td>Nov 4, 2019</td>
                                              </tr>
                                             </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
    <div class="modal fade"
         id="description_modal"
         data-backdrop="static"
         tabindex="-1"
         role="dialog"
         aria-labelledby="staticBackdrop"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        متن کامل درخواست
                    </h5>
                    <button type="button"
                            class="btn btn-danger btn-sm"
                            data-dismiss="modal"
                            data-dismiss="modal">
                        <span class="fe fe-14 fe-x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ object.description }}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% include 'base/detailModal.html' %}
{% endblock content %}
{% block moreScript %}
    <script>
        function modal_url(url, type) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $("#"+ type +"_modal_body").html(data);
                }
            })
        }
    </script>
{% endblock moreScript %}
