{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">لیست درخواست ها</h2>
                    <p class="card-text">لیست درخواست های ارباب رجوع و نهاد ها</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="toolbar row mb-3">
                                        <div class="col">
                                            <form class="form-inline" action="" method="get">
                                                <div class="form-row">
                                                    <div class="form-group col-auto">
                                                        <label for="search">جستجو :</label>
                                                        <input type="text"
                                                               class="form-control ml-2"
                                                               id="search"
                                                               name="q"
                                                               placeholder="مقدار مورد نظر را وارد کنید "/>
                                                        <label for="searchOption" class="ml-2">جستجو براساس :</label>
                                                        <select class="form-control my-1 mr-sm-2 ml-2"
                                                                id="searchOption"
                                                                name="option">
                                                            <option value="fullname">
                                                                شماره درخواست
                                                            </option>
                                                            <option value="phoneNumber">
                                                                عنوان درخواست
                                                            </option>
                                                            <option value="code_meli">
                                                                نام خانوادگی درخواست دهنده
                                                            </option>
                                                            <option value="organ">
                                                                شماره همراه درخواست دهنده
                                                            </option>
                                                        </select>
                                                        <button type="submit" class="btn mb-2 btn-warning">
                                                            <span class="fe fe-search fe-14 mr-1"></span>جستجو
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col ml-auto">
                                            <a href="{% url 'request-create' %}"
                                               class="btn btn-success float-right ml-3"
                                               type="button">اضافه کردن +</a>
                                        </div>
                                    </div>
                                    {% if requests %}
                                        <div class="table-responsive">
                                            <table class="table table-hover text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">شماره درخواست</th>
                                                        <th scope="col">عنوان درخواست</th>
                                                        <th scope="col">درخواست دهنده</th>
                                                        <th scope="col">وضعیت</th>
                                                        <th scope="col">نتیجه</th>
                                                        <th scope="col">تاریخ درخواست</th>
                                                        <th scope="col">عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for request in requests %}
                                                        <tr>
                                                            <th scope="row">{{ request.number }}</th>
                                                            <td>{{ request.title }}</td>
                                                            <td>{{ request.customer_name }}</td>
                                                            <td>
                                                            {% if request.status == '1' %}
                                                                <span class="btn-sm btn-primary">ایجاد شده</span>
                                                            {% elif request.status == '2' %}
                                                                <span class="btn-sm btn-warning">درحال پیگیری در خانه ملت</span>
                                                            {% elif request.status == '3' %}
                                                                <span class="btn-sm btn-info">صدور نامه از طرف خانه ملت</span>
                                                            {% elif request.status == '4' %}
                                                                <span class="btn-sm btn-success">ارسال نامه به ارگان مربوطه</span>
                                                            {% elif request.status == '5' %}
                                                                <span class="btn-warning btn-sm">در انتظار درخواست دهنده</span>
                                                            {% elif request.status == '6' %}
                                                                <span class="btn-sm btn-success">خاتمه یافته</span>   
                                                            {% else %}
                                                                نامشخص
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ request.get_result_display }}</td>
                                                        <td>{{ request.jd_register_date }}</td>
                                                        <td>
                                                            <button type="button"
                                                                    class="btn btn-warning btn-sm"
                                                                    onclick="modal_url('/requestions/update/{{ request.id }}', 'update');"
                                                                    data-toggle="modal"
                                                                    data-target="#update_modal">
                                                                ویرایش
                                                            </button>
                                                            <button type="button"
                                                                    class="btn btn-info btn-sm"
                                                                    onclick="modal_url('/requestions/detail/{{ request.id }}', 'detail');"
                                                                    data-toggle="modal"
                                                                    data-target="#detail_modal">
                                                                مشاهده
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        هیچ نتیجه ای در جستجو یافت نشد! مجددا تلاش کنید.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <nav aria-label="">
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ page_obj.previous_page_number }}"
                                                       tabindex="-1">قبلی</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="">صفحه قبل</a>
                                                </li>
                                            {% endif %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(صفحه فعلی)</span></a>
                                            </li>
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">صفحه بعد</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="">صفحه بعد</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- simple table -->
            </div>
            <!-- end section -->
        </div>
        <!-- .col-12 -->
    </div>
    <!-- .row -->
</main>
{% include 'base/updateModal.html' %}
{% include 'base/detailModal.html' %}
{% endblock content %}
{% block moreScript %}
    {% comment %} <script src="{% static 'customers/js/datatablescripts.js'%}"></script> {% endcomment %}
    <script src="{% static 'customers/plugins/jalaliDatepicker/kamadatepicker.min.js'%}"></script>
    <script>kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});</script>
    <script>
function modal_url(url, type) {
    $.ajax({
        url: url,
        type: 'GET',
        success: function (data) {
            $("#"+ type +"_modal_body").html(data);
        }
    })
}
    </script>
{% endblock moreScript %}
